<h1>Edit Forum</h1>

<%= form_for(@forum) do |form| %>
  <fieldset>
    <p>
      <label for="name" class="required" >Name</label>
      <%= form.text_field :name %>
    </p>
  </fieldset>
  <%= form.submit 'Submit' %>
<% end %>

