<h1>New Resource</h1>


<%= form_for([@resource.campaign, @resource]) do |form| %>
  <%= form.error_messages %>
  <%= render :partial=>'form', :object=>form %>
  <%= form.submit 'Submit' %>
<% end %>

