html {
  margin: 0;
  padding: 0;
}
body {
  background: #330022;
  margin: 0 auto;
  padding: 0;
}
textarea { width: 99%; }
header {
  color: white;
  background: black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 785px;
  margin: 0 auto;
  padding: 20px 40px;
  height: 50px;
  display: block;
}
header aside {
  background: black;
  float: right;
}
header aside ul li {
  display: inline;
  list-style-type: none;
  padding: 2px;
}
header aside ul li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
header aside ul li a:visited { color: #ffffff; }
header aside ul li a:hover { color: #ffdf00; }
#sidebar {
  color: white;
  background: black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 785px;
  margin: 0 auto;
  padding: 0px;
  display: block;
}
#sidebar ul li {
  display: inline;
  list-style-type: none;
  padding: 2px;
}
#sidebar ul li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
#sidebar ul li a:visited { color: #ffffff; }
#sidebar ul li a:hover { color: #ffdf00; }
footer {
  display: block;
  text-align: center;
  color: white;
}
.tab-window {
  background: white;
  color: black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1em;
}
#container {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 785px;
  margin: 0 auto;
  padding: 20px 40px;
  border: solid 1px black;
  background: white;
  min-height: 400px;
}
