html {
  margin: 0; 
  padding: 0
}

body {
  background: #330022; 
  /* color: #fff;  */
  margin: 0 auto; 
  padding: 0
}

#container {
  color: #000;
  background-color: #FFF; 
  margin: 0 auto; 
  padding: 0; 
  width: 990px
}

#header {
  background: #000;
  color: #fff;
  height: 71px; 
  margin: 0; 
  padding: 0.5em;
  
}

#header_navigation {
  float: right;
  margin-top: 30px
}

#header_navigation ul li {
  display: inline; 
  list-style-type: none; 
  padding: 2px
}

#header_navigation a {
  color: #fff;
  font-weight: bold; 
  text-decoration: none;
}

#header_navigation a:visited {
  color: #fff;
}

#page_top {
  background-color: #000;
}

#right_column {
  background-color: #eee; 
  border: 1px solid #ccc; 
  float: right; 
  min-height: 380px; 
  padding: 0 10px; 
  width: 200px; 
  margin-right: 5px;
  min-height: 400px;
}

#main_column {
  padding: 1px 245px 1em 15px; 
  margin: 0
}


#content_for_layout {
  clear: both;
  margin: 1em;
  font-size: 1.1em;
  min-height: 500px;
}

#list_view {
  width: 100%;
}

#list_view table {
  width: 100%; 
}

#list_view table thead tr td {
  font-weight: bold; 
  font-size: 1.1em;
}

.show_label {
  font-weight: bold; 
  font-size: 1.1em;
  line-height: 1.2em;
}

.floatRight {
  float: right;
}

#section_heading {
  display: block;
}

#section_heading span {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
}

#section_heading a {
  float: right;
  margin-top: -10px;
}

#section_heading hr {
  clear: left;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 20pt;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.fieldWithErrors {
  padding: 3px;
  background-color: red;
  display: table;
}

.post {
  display: block;
  border: solid black 1px;
}

#post_contents {
    width: 29em;
    font-size: 14pt;
}

.post_body {
  vertical-align: top;
}

.header_image {
  width: 90px;
  text-align: center;
  border: solid black 1px;
}


.post .timestamp {
  background: #330022;
  color: white;
  width: 100%;
}



a.button {
  color: black;
  font-weight: bold;
  font-size: 13pt;
  text-decoration:none;
  background-color:#CCCCCC;
  padding-top:3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  margin:2px; 
  border-left: 3px solid #EDEDED;
  border-right: 3px solid #999999;
  border-top:3px solid #EDEDED;
  border-bottom: 3px solid #999999;
}

a.button:hover {
  border-top: 3px solid yellow;
  border-left: 3px solid yellow;
  border-bottom: 3px solid goldenrod;
  border-right: 3px solid goldenrod;
  background: yellow;
}





