  <fieldset>
    <p>
      <label for="nickname" class="required" >Nickname</label>
      <%= form.text_field :nickname %>
    </p>
    <p>
      <label for="email" class="required" >Email</label>
      <%= form.text_field :email %>
    </p>
    </fieldset>