<fieldset>
  <p>
    <label for="name" class="required" >Name</label>
    <%= form.text_field :name %>
  </p>
  <p>
    <label for="statistics"class="required">Statistics</label><br/>
    <%= form.text_area :statistics %>
  </p>
  <p>
    <label for="public_description" class="required">Public Description</label><br/>
    <%= form.text_area :public_description %>
  </p>
  <p>
    <label for="private_description">Private Description</label><br/>
    <%= form.text_area :private_description %>
  </p>
</fieldset>