<h1>Edit Post</h1>

<% form_for(@post) do |form| %>
  <fieldset>
    <p>
      <%= form.label :title, :class=>'required' %>
      <%= form.text_field :title %>
    </p>
    <p>
      <label for="contents" class="required" >Contents</label>
      <%= form.text_area :contents -%>
    </p>
  </fieldset>
  <%= form.submit 'Submit' %>
<% end %>

