<div id="list_view">

  <div id="content">
    <h1><%= @forum.name %></h1>
    <% if @forum.campaign %>
      Back to: <%= link_to @forum.campaign.name, campaign_path(@forum.campaign) %>
    <% end %>
    <%= link_to "New Post", new_forum_post_path(@forum) %>

    <% for post in @posts.find(:all, :order => :created_at) %>
      <p>
        <%= render :partial => 'posts/show_short', :object => post %>
      </p>
    <% end %>
  </div>

</div>
