<h1>Editing Campaign</h1>

<% form_for :campaign do |form| %>
<fieldset>
  <p>
    <label for="name" class="required" >Name</label>
    <%= form.text_field :name %>
  </p>
  <p>
    <label for="system" class="required" >System</label>
    <%= form.text_field :system %>
  </p>
</fieldset>
  <% form.submit 'Submit' %>
<% end %>

