body {
  padding-top: 70px;
}

table {
  @extend .table;
  @extend .table-striped;
}

footer {
  background: $eggplant;
  color: $white;
  margin-top: 1.5em;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}

.flash {
  .flash-notice {
    @extend .alert;
    @extend .alert-warning;
    //.flash-icon {
    //  @extend .ui-icon;
    //  @extend .ui-icon-info;
    //}
  }

  .flash-alert {
    @extend .alert;
    @extend .alert-danger;
    //.flash-icon {
    //  @extend .ui-icon;
    //  @extend .ui-icon-alert;
    //}
  }
}

.header-nav {
  @extend .navbar;
  @extend .navbar-inverse;
  @extend .navbar-fixed-top;
}

.post {
  @extend .panel;
  @extend .panel-default;

  .post-header {
    @extend .panel-heading;

    .avatar {
      @extend .pull-left;
      margin-right: 1.5em;
    }

    .actions {
      @extend .pull-right;
    }
  }

  .post-body {
    @extend .panel-body;
  }
}

.container-fluid {
  background: $white;
  margin-left: 2em;
  margin-right: 2em;
  min-height: 480px;
}
