$eggplant: #330022;
$yellow: #FFDF00;

body {
  background: offwhite;
  padding-top: 70px;
}

footer {
  margin-top: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background: $eggplant;
  color: white;
}

#container {
  background: white;
  margin-left: 2em;
  margin-right: 2em;
}




