body {
  padding-top: 70px;
}

table {
  @extend .table;
  @extend .table-striped;
}

footer {
  background: $eggplant;
  color: $white;
  margin-top: 1.5em;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}

.header-nav {
  @extend .navbar;
  @extend .navbar-inverse;
  @extend .navbar-fixed-top;
}

.container {
  background: $white;
  margin-left: 2em;
  margin-right: 2em;
  min-height: 480px;
}




